<!DOCTYPE html>
<html>
  <head>
    <title>Agregar libro</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Agregar libro</h1>
  </body>
</html>
