<!DOCTYPE html>
<html>
  <head>
    <title>Listado de Libros</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>

    <h1>Listado de Libros</h1>
    <ul class="lista">
      <% books.forEach(book=>{ %>
      <li class="lista-item">
        <a href="/libro/<%= book.idLibro %>" class="lista-item_link"
          ><img src="/images/gatito.jpg" class="lista-item_img" alt="" />
          <h2 class="item-lista_titulo"><%= book.titulo%></h2></a
        >
      </li>

      <% }) %>
    </ul>
    <!--<ul class="lista">
      <li class="lista-item">
        <a href="/libro/1" class="lista-item_link"
          ><img src="/images/gatito.jpg" class="lista-item_img" alt="" />
          <h2 class="item-lista_titulo">titulo</h2></a
        >
      </li>
     
    </ul>-->
  </body>
</html>
